---
import SectionContainer from "../components/SectionContainer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contacto">
  <main id="main-container" class="w-[70rem] mx-auto pt-20 rounded-lg">
    <SectionContainer id="contacto" class="h-[100rem] p-10">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
        Contacto
      </h2>
    </SectionContainer>
  </main>
</Layout>
