---
import Section from "../components/Section.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Portafolio - Ulises Vargas">
  <main class="bg-neutral-900/90 w-[90%] lg:max-w-7xl justify-center mx-auto pt-10 md:pt-20 rounded-lg text-white">
    <Section id="experiencia" class="h-[100rem] md:py-10" title='Experiencia' />
    <Section id="proyectos" class="h-[100rem] md:py-10" title='Proyectos'/>
    <Section id="contacto" class="h-[100rem] md:py-10" title='Contacto' />
  </main>
</Layout>
