---
import NavbarItem from './NavbarItem.astro';

const routes = [
  {
    label: 'Inicio',
    href: '/'
  },
  {
    label: 'Proyectos',
    href: '#proyetos'
  },
  {
    label: 'Experiencia',
    href: '#experiencia'
  },
  {
    label: 'Contacto',
    href: '#contacto'
  }
]
---
<nav class="h-24 border flex items-center justify-center w-[80rem] mx-auto">
  <ul class="flex gap-x-6">
    {
      routes.map((route) => (
        <NavbarItem {...route} />
      ))
    }
  </ul>
</nav>