---
interface Props {
  href: string;
  label: string;
}

const { href, label } = Astro.props;
---

<li>
  <a
    href={href}
    class={`px-6 py-4 rounded dark:text-white text-lg font-semibold hover:bg-zinc-700 hover:text-emerald-200`}
  >
    {label}
  </a>
</li>
