---
import NavbarItem from "./NavbarItem.astro";

const routes = [
  {
    label: "Inicio",
    href: "/",
  },
  {
    label: "Experiencia",
    href: "#experiencia",
  },
  {
    label: "Proyectos",
    href: "#proyectos",
  },
  {
    label: "Contacto",
    href: "#contacto",
  },
];
---

<nav
  id="navbar"
  class="h-[6.5rem] absolute left-0 right-0 lg:flex items-center justify-center lg:max-w-7xl mx-auto bg-zinc-800 rounded-t-lg transition-all duration-300 hidden"
>
  <ul class="flex gap-x-6">
    {routes.map((route) => <NavbarItem {...route} />)}
  </ul>
</nav>

<script>
  import { fixedNavbar } from '../scripts/navbar'
  document.addEventListener("DOMContentLoaded", fixedNavbar)
</script>
