---
interface Props {
  href: string;
  label: string;
}

const { href, label } = Astro.props;

const pathname = new URL(Astro.request.url);

//const currentPath = pathname.slice(1); // remove the first "/"
---

<li>
  <a class={`px-6 py-4 rounded hover:bg-zinc-700 hover:text-emerald-200`} href={href}>{label}</a>
</li>