---
import NavbarItem from "./NavbarItem.astro";

const routes = [
  {
    label: "Inicio",
    href: "/",
  },
  {
    label: "Experiencia",
    href: "#experiencia",
  },
  {
    label: "Proyectos",
    href: "#proyectos",
  },
  {
    label: "Contacto",
    href: "#contacto",
  },
];
---

<nav
  id="navbar"
  class="h-24 absolute left-0 right-0 flex items-center justify-center w-[80rem] mx-auto bg-zinc-800 rounded-t-lg transition-all duration-300"
>
  <ul class="flex gap-x-6">
    {routes.map((route) => <NavbarItem {...route} />)}
  </ul>
</nav>

<script>
  const nav = document.getElementById("navbar");
  const navOffset = nav!.offsetTop;
  
  function handleScroll() {
    if (window.scrollY >= navOffset) {
      nav!.classList.add("fixed-nav");
    } else {
      nav!.classList.remove("fixed-nav");
    }
  }

  window.addEventListener("scroll", handleScroll);
</script>
