---
interface Props {
  id: string;
  title: string;
  class: string;
}
const { class: className, id, title } = Astro.props;
---

<section
  id={id}
  data-section={id}
  class={`${className} mx-auto lg:w-[80rem] px-20 w-[90%]`}
>
  <h2
    class="text-3xl font-semibold mb-6 flex gap-x-3 justify-center md:justify-start items-center"
  >
    {title}
  </h2>
  <slot />
</section>

<script>
  import { handleClick } from "../scripts/section";
  // Esto revisa los eventos que se ejecutan en el selector del navbar para ejecutar el hanldeClick de más arriba
  const navContainer = document.querySelector("#navbar");
  navContainer!.addEventListener("click", handleClick);
</script>
