---
const { class: className, id } = Astro.props
---

<section
  id={id}
  data-section={id}
  class={`${className} w-full mx-auto lg:w-[70rem] pb-24`}
>
  <slot />
</section>

<script>

  // function handleClick(event: any) {
  //   // Se ejecuta si se ha hecho clic en un enlace de navegación
  //   const target = event.target;
  //   if (target.tagName === 'A') {
  //     event.preventDefault(); // Evita que el enlace redireccione inmediatamente
  //     const targetHref = target.getAttribute('href');
  //     if (targetHref === '/') {
  //       // Si el enlace es el de inicio (/), realiza un desplazamiento al top de la página
  //       window.scrollTo({
  //         top: 0,
  //       });
  //     } else {
  //       // Si el enlace no es el de inicio, realiza el desplazamiento normal a la sección correspondiente
  //       const targetSectionId = targetHref.substring(1); // Elimina el signo '#' del href
  //       const targetSection = document.getElementById(targetSectionId);
  //       if (targetSection) {
  //         window.scrollTo({
  //           top: targetSection.offsetTop - 100, // Margen del top al contenido
  //         });
  //       }
  //     }
  //   }
  // }

  // Esto revisa los eventos que se ejecutan en el selector del navbar para ejecutar el hanldeClick de más arriba
  // const navContainer = document.querySelector('#navbar');
  // navContainer!.addEventListener('click', handleClick);
</script>
