---
import { cn } from "../../../utils";

interface Props extends astroHTML.JSX.HTMLAttributes {}

const { class: className, ...props } = Astro.props;
---

<div class={cn("p-6 pt-0", className)} {...props}>
  <slot />
</div>
