---
import "@fontsource-variable/onest";
import Header from "../components/Header.astro";
import Navbar from "../components/Navbar.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <Navbar />
    <slot />
  </body>
</html>
<style is:global>
  :root {
    color-scheme: dark;
  }
  html {
    scroll-behavior: smooth;
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
  }
  body {
    overscroll-behavior: none;
    font-family: "Onest Variable", sans-serif;
  }

  #navbar.fixed-nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 10000;
  }
  #navbar.fixed-nav {
    height: 70px;
    background-color: rgb(39, 39, 42);
  }
  main {
    background-color: rgb(22, 22, 24);
  }
  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
</style>
